a {
  display: inline-table;
  padding: 15px;
  background-color:white;
}
ul {
    list-style-type: none; 
margin: 0;
padding: 0;
}
li{
    display: inline;
    float:left;
}
.logo { 
    position: static;
    margin-top: 350px;
    margin-right: 900px;
    margin-bottom: 5px;
    margin-left: 520px;
}
.search { 
    position: static;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 900px;
    width: 400px;
    height: 20px;
}
    .submit-1 { 
    position: static;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 1000px;
    }
    .submit-2 {
    position: static;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 1000px;
    
    }