html { 
    height: 100%;
}
body {
    height: 100%;
}
.footer {
 margin-top: 850px;
}
.hsw    { 
    margin-right: 2050px;
}
.navbar { 
    position: fixed; 
    margin: 10px;
}
ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}
li { 
    float: left;
}
a { 
    display: block;
    color: #222;
    padding: 8px;
    text-decoration: none;
    font-size: 13px;
    font-family: arial, sans-serif;
}
li a:hover { 
    background-color: white;
    text-decoration: underline;
}
.signin { 
    margin-left: 10px;
background-color: #4285f4;
border: 1px solid #4285f4;
color: white;
font-size: 13px;
padding-left: 12px;
padding-right: 12px;
}
.signin:hover { 
    background-color: #4285f4;
    color: white;   
}
.logo { 
    margin-top: 200px;
    margin-left: 1140px;
    margin-bottom: 0px;
}
.search { 
    margin-top: 10px;
    margin-left: 1000px;
    margin-bottom: 0px;
    border-radius: 50px;
    width: 550px;
    height: 40px;
    border-width: 1px;
    border-color: #afafaf82;
    padding-left: 15px;
    padding-right: 15px;
}
.button2 { 
position: relative;
margin-top: 20px;
margin-left: 1150px;
margin-right: 20px;
width: 140px;
height: 36px;
min-width: 54px;
border-style: none;
border-radius: 5px;
font-family: sans-serif;
color: rgb(85, 85, 85);
}
.button1 { 
    position: absolute;
    margin-top: 20px;
margin-left: 1300px;
margin-right: 100px;
width: 130px;
height: 36px;
min-width: 54px;
border-style: none;
border-radius: 5px;
font-family: sans-serif;
color: rgb(85, 85, 85);
}
.search:hover { 
    border: 2px solid rgb(207, 207, 207);

}
.button1:hover { 
    border: 1px solid Grey;
}
.button2:hover { 
    border: 1px solid Grey;
}
